set timeout=10
insmod part_gpt
insmod fat
insmod ext2

menuentry "OpenCloud OS Risc-V via Luna" {
    # load kernel
    linux /Image root=/dev/ram0 rootfstype=ext4 rw rootwait \
        console=tty1 loglevel=8 \
        earlycon=uart8250,mmio,0x10000000
    
    initrd /rootfs.cpio
}